.list  {
border: 2px solid;
}

.container {
display: flex;
justify-content: center;
}

h1{
  color: red;
  border:  3px solid ;
  text-align: center;
  background-color: black;
}

.text {
  display: flex;
  align-items: center;
}

button{
  padding: 13px;
  background-color: royalblue;
  color: #ffffff;
  border-radius: 23px;
  margin: 4px;
  outline: none;
  cursor: pointer;
}

h2{
  color: rgb(25, 0, 138);
}
